{%- include stylesheets.html stylesheets="footer" defer=true -%}
<footer class="ft-footer">

  <div class="ft-inner lyt-container">

    <div class="ft-columns">

      <div class="ft-column">
        <p>{{ site.description | escape }}</p>
      </div>
      
      <div class="ft-column">

        {%- if site.author %}
          <ul class="ft-contacts">
            {% if site.author.name and site.author.website == false -%}
              <li class="ft-contact">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.website -%}
              <li><a class="ft-contact" href="{{ site.author.website }}">{{ site.author.name | escape }}</a></li>
            {%- endif %}
            {% if site.author.email -%}
              <li><a class="ft-contact" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}

        <p class="ft-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            {%- include icons/rss.html -%}
            <span class="util-screen-reader-text">Subscribe</span>
          </a>
        </p>
        
      </div>

    </div>

    <div class="ft-socials">
      {%- include components/socials.html -%}
    </div>

  </div>

</footer>