/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.ft-footer {
  display: block;
  position: sticky;
  top: 100vh;

  height: 100px;
  max-height: 100px;
}
