/*
|--------------------------------------------------------------------------
| Tags
|--------------------------------------------------------------------------
*/

.tg-tags {
  margin-top: var(--Gutter);
  margin-bottom: var(--Gutter);
}

.tg-list {
  list-style: circle;
}