/*
|--------------------------------------------------------------------------
| Utilities
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Font Sizes
|--------------------------------------------------------------------------
*/

.fs-h1 {
  font-size: var(--Font_Size-h1);
}

.fs-h2 {
  font-size: var(--Font_Size-h2);
}

.fs-h3 {
  font-size: var(--Font_Size-h3);
}

.fs-h4 {
  font-size: var(--Font_Size-h4);
}

.fs-h5 {
  font-size: var(--Font_Size-h5);
}
