{%- include stylesheets.html stylesheets="tags" defer=true -%}

<section class="tg-tags">
  <h4 class="tg-title fs-h4">
    {{- include.title | default: "All Tags:" -}}    
  </h4>
  <ul class="tg-list">
    {%- for tag in site.tags -%}

      {%- if include.page_slug -%}
        {%- assign posts = tag[1] | where: "slug", include.page_slug -%}
        {%- if posts.size < 1 -%}
          {%- continue -%}
        {%- endif -%}          
      {%- endif -%}

      {%- if tag[1].size > 0 -%}
      <li class="tg-item">
        {%- assign tag_name = tag[0] -%}
        {%- assign tag_slug = tag_name | slugify: "raw" -%}
        <a class="tg-link" href={{ site.baseurl | append: "/tagged/" | append: tag_slug | append: "/" }} rel="category tag">
          {{ tag_name }} ({{ tag[1] | size }})
        </a>
      </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>