---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        {%- include post-item.html date_format=date_format -%}
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page
            }}</a></li>
        {%- else %}
        <li>
          <div class="pager-edge">•</div>
        </li>
        {%- endif %}
        <li>
          <div class="current-page">{{ paginator.page }}</div>
        </li>
        {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
        <li>
          <div class="pager-edge">•</div>
        </li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}

    <div class="all-tags e-content">
      All Tags:
      <ul>
        {%- for tag in site.tags -%}
          {%- if tag[1].size > 0 -%}
          <li>
            {%- assign tag_name = tag[0] -%}
            {%- assign tag_slug = tag_name | slugify: "raw" -%}
            <a class="tag-link" href={{ site.baseurl | append: "/tagged/" | append: tag_slug | append: "/" }} rel="category tag">
              {{ tag_name }} ({{ tag[1] | size }})
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>

  {%- endif -%}

</div>