---
layout: default
---

{%- include stylesheets.html stylesheets="highlight" defer=true -%}

<article class="art-article">

  <header class="art-header">
    <p class="art-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="art-date_published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="art-date_modified" datetime="{{ mdate }}">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span class="art-author">
            <span class="art-author_name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
    <h1 class="art-title fs-h1">{{ page.title | escape }}</h1>
  </header>

  <div class="art-body util-richtext">
    {{ content }}
  </div>
  
  <div class="art-tags">
    {%- include components/tags.html title="Tags:" page_slug=page.slug -%}
  </div>

  {%- if page.comments -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>